<div id="results-page">
<div class="result-page-header">
	<a href="/" id="logo">
		<svg width="135px" height="50px" viewBox="0 0 197 67" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <rect id="page" stroke="#979797" sketch:type="MSShapeGroup" x="-404" y="-260" width="1037" height="773"></rect>
		        <text id="Medig" sketch:type="MSTextLayer" font-family="Avenir Next" font-size="52" font-weight="260">
		            <tspan x="5" y="47" fill="#0266C8">M</tspan>
		            <tspan x="52.112" y="47" fill="#F90101">e</tspan>
		            <tspan x="81.024" y="47" fill="#F2B50F">d</tspan>
		            <tspan x="113.576" y="47" fill="#00933B">i</tspan>
		            <tspan x="125.328" y="47" fill="#F90101">g</tspan>
		        </text>
		        <g id="tablet" sketch:type="MSLayerGroup" transform="translate(160.000000, 19.000000)">
		            <circle id="Oval-1" fill="#66CFE2" sketch:type="MSShapeGroup" cx="15" cy="15" r="15"></circle>
		            <path d="M5.49066287,23.3013323 L22.575122,5.74557771 L24.7106794,7.94004703 L7.62622027,25.4958016 L5.49066287,23.3013323 L5.49066287,23.3013323 Z" id="Rectangle-5" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
		        </g>
		    </g>
		</svg>
	</a>
	<form action="<%= find_submit_url %>" method="POST">
		<input
	    type="hidden"
	    name="authenticity_token"
	    value="<%= form_authenticity_token %>">

		<div id="search-bar" class="result-page">
			<!-- @name not works?! -->
			<input type="text" name="find[name]" id="search-bar__input" val="<%= @name %>"/>
			<div id="search-bar__input-sibling">
				<div class="icon-mnone"></div>
			</div>
		</div><span class="icon-search"></span>
	</form>
	<div class="header__icons"></div>
</div>

<div id="results-tabs">
	<div class="results-tab selected">Web</div>
	<div class="results-tab">Images</div>
	<div class="results-tab">Videos</div>

</div>

<div id="results-container">
	<% if !@drugs.empty? %>
		<div>
			<%= @drugs.count %> result (0.1 seconds)
		</div>

		<div class="results-list">
			<% @drugs.each do |drug| %>
			<p>
				<a class="result-list__name" href="https://www.google.com/search?q=<%= @name %>&btnI=1"><%= drug.name.capitalize %></a><br>
				<a class="result-list__carrier" href="https://google.com/search?q=<%= drug.carrier %>&btnI=1"><%= drug.carrier.capitalize %></a><br>
				This drug is carried by <span><%= drug.carrier %></span> in <span><%= drug.state %></span>.<br>
				It is carried under Tier <span><%= drug.tier %></span> and is a <span><%= drug.brand_or_generic %></span> brand.
			</p>
			<% end %>
		</div>
		

	<% else %>

		Your search - <b><%= @name %></b> - did not match any documents.<br><br>

		Suggestions:<br><br>
		<ul>
			<li>Make sure all words are spelled correctly.</li>
			<li>Try different keywords.</li>
			<li>Try more general keywords.</li>
		</ul>
		
	<% end %>
	</div>

</div>
</div>