<div class="result-page-header">
	<div id="logo">
		<svg width="135px" height="50px" viewBox="0 0 197 67" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <rect id="page" stroke="#979797" sketch:type="MSShapeGroup" x="-404" y="-260" width="1037" height="773"></rect>
		        <text id="Medig" sketch:type="MSTextLayer" font-family="Avenir Next" font-size="52" font-weight="260">
		            <tspan x="5" y="47" fill="#0266C8">M</tspan>
		            <tspan x="52.112" y="47" fill="#F90101">e</tspan>
		            <tspan x="81.024" y="47" fill="#F2B50F">d</tspan>
		            <tspan x="113.576" y="47" fill="#00933B">i</tspan>
		            <tspan x="125.328" y="47" fill="#F90101">g</tspan>
		        </text>
		        <g id="tablet" sketch:type="MSLayerGroup" transform="translate(160.000000, 19.000000)">
		            <circle id="Oval-1" fill="#66CFE2" sketch:type="MSShapeGroup" cx="15" cy="15" r="15"></circle>
		            <path d="M5.49066287,23.3013323 L22.575122,5.74557771 L24.7106794,7.94004703 L7.62622027,25.4958016 L5.49066287,23.3013323 L5.49066287,23.3013323 Z" id="Rectangle-5" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
		        </g>
		    </g>
		</svg>
	</div>
	<form action="<%= find_submit_url %>" method="POST">
		<input
	    type="hidden"
	    name="authenticity_token"
	    value="<%= form_authenticity_token %>">

		<!-- <input id="search_bar" name="find[name]" type="text" class="" placeholder="  Search for a shemale..."> -->
		<div id="search-bar" class="result-page">
			<input type="text" name="find[name]" placeholder="Search." id="search-bar__input" />
			<div id="search-bar__input-sibling">
				<div class="icon-mnone"></div>
			</div>
		</div><span class="icon-search"></span>
	</form>
</div>

<div class="panel-body">
	<% if !@drugs.empty? %>
	<div class="panel-heading">
	    <h3 class="panel-title">We found your drug! These carriers carry your drug. </h3>
	</div>
	<ul>
		<li><span class="generic">Green</span> is cheap!</li>
		<li><span class="brand">Red</span> is expensive!</li>
	</ul>
	<div class="results-list">
		<% @drugs.each do |drug| %>
		Name: <%= drug.name.capitalize %><br>
		Carrier: <%= drug.carrier.capitalize %><br>
		State: <%= drug.state.capitalize %><br>
		Tier: <%= drug.tier %><br>
		Brand: <%= drug.brand_or_generic %><br><br>
		<% end %>
	</div>
	<% else %>
	  <p>We didn't find your shemale...</p>
	<% end %>
</div>