<!DOCTYPE html>
<!--
       .__ ___.                  __   
_____  |  |\_ |__   ____________/  |_ 
\__  \ |  | | __ \_/ __ \_  __ \   __\
 / __ \|  |_| \_\ \  ___/|  | \/|  |  
(____  /____/___  /\___  >__|   |__|  
     \/         \/     \/            
  Greetings!! Welcome to my site.
  This site was designed and built by me (All Rights Reserved ;) )
  Some tech used are:
  	- Sketch
  	- Icomoon
  	- Ruby on Rails
  	- React
  	- And that's it! The simpler the better am I right?? :)
	-->
<html>
<head>
  <title>Medigo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="results">
	<div id="react-container"></div>
<%= yield %>
</body>
<footer class="<%= flash[:page] %>">
	<a href="#" class="footer-link settings">Settings</a>
	<a href="#" class="footer-link about">About</a>
</footer>
</html>
